{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 text-center">
    {% if user.is_authenticated %}
        <h1 class="text-center mb-4">About Us</h1>
        <p class="text-center">Welcome back, {{ user.username }}! Explore our products and services to enhance your tech experience.</p>
        <p class="text-center">Welcome to Web Tech! We are a leading provider of innovative technology solutions. Our mission is to deliver high-quality products and services that empower businesses and individuals to thrive in the digital age. With a team of dedicated professionals, we strive to exceed our customers' expectations and drive technological advancements. Thank you for choosing Web Tech as your trusted partner in technology.</p>
        <p class="text-center">At Port Tech, we value innovation, integrity, and customer satisfaction. We are committed to staying at the forefront of technological advancements and providing our clients with cutting-edge solutions that meet their unique needs. Our team is passionate about technology and dedicated to delivering exceptional results. We look forward to serving you and helping you achieve your goals in the ever-evolving digital landscape.</p>
    {% else %}
        <h1 class="display-4">About Us</h1>
        <p class="text-center">Join us today to access exclusive benefits and stay updated with the latest tech trends!</p>
        <p class="text-center">Click here to reach with us <a class="btn btn-primary" href="{% url 'register' %}">Register</a></p>
        <p class="text-center">Already have an account? <a class="btn btn-primary" href="{% url 'login' %}">Login</a></p>
    {% endif %}
</div>
{% endblock %}