{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 text-center">
    <h1 class="display-4 text-center">Create Account</h1>
    <p class="text-center">Create an account to access exclusive features and personalized recommendations.</p>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Please correct the errors below.
        </div>
    {% endif %}
    <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                        <p>Already have an account?<a class="text-center" href="{% url 'login' %}" class="btn btn-link mt-3"> Login here</a></p>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}