{% extends 'base.html' %}

{% block content %}
<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

        {% for product in products %}

            <div class="carousel-item {% if forloop.first %}active{% endif %}">

                <img src="{{ product.image.url }}"
                     class="d-block w-100"
                     alt="{{ product.name }}" style="width: 100%; max-height: 400px; object-fit: cover;">

                <div class="carousel-caption d-none d-md-block">
                    <h4>{{ product.name }}</h4>
                    <p class="fw-bold">Ksh {{ product.price }}</p>
                </div>

            </div>

        {% empty %}

            <div class="text-center">
                <p>No products available.</p>
            </div>

        {% endfor %}

    </div>

    <!-- Previous button -->
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#productCarousel"
            data-bs-slide="prev">

        <span class="carousel-control-prev-icon"></span>

    </button>

    <!-- Next button -->
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#productCarousel"
            data-bs-slide="next">

        <span class="carousel-control-next-icon"></span>

    </button>

</div>
<div class="container mt-4 text-center">
    <h1 class="display-4">Product Details</h1>
    {% if product %}
        <div class="card mt-4" style="width: 18rem; margin: 0 auto;">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><strong>Price:</strong> Ksh{{ product.price }}</p>
            </div>
        </div>
    {% else %}
        <p>No product details available.</p>
    {% endif %}
{% endblock %}